@model ParkModel
@{
    ViewData["Title"] = "Detail";
}

<div>
    <table>
        <thead>
            <tr>
                <td>
                    <img src="~/images/@(Model.ParkCode).jpg" />
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>@Model.ParkName</p>
                    <p>@Model.InspirationalQuote - @Model.InspirationalQuoteSource</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Year Founded: @Model.YearFounded</p>
                    <p>@Model.ParkDescription</p>
                    <p>@Model.State</p>
                </td>
            </tr>
            <tr>
                <td><p>Acreage: @Model.Acreage</p></td>
            </tr>
            <tr>
                <td><p>Elevation: @Model.ElevationInFeet ft</p></td>
            </tr>
            <tr>
                <td><p>Miles of Trail: @Model.MilesOfTrail miles</p></td>
            </tr>
            <tr>
                <td><p>Number of Campsites: @Model.NumberOfCampsites</p></td>
            </tr>
            <tr>
                <td><p>Annual Visitor Count: @Model.AnnualVisitorCount</p></td>
            </tr>
            <tr>
                <td><p>Entry Fee: $@Model.EntryFee</p></td>
            </tr>
            <tr>
                <td><p>Number of Animal Species: @Model.NumberOfAnimalSpecies</p></td>
            </tr>
            <tr>
                <td><p>Climate: @Model.Climate</p></td>
            </tr>
        </tbody>
    </table>
        <select asp-for="Unit">
            <option value="Fahrenheit">Fahrenheit</option>
            <option value="Celsius">Celsius</option>
        </select>
        <a asp-controller="Home" asp-action="GetWeather" asp-route-parkCode="@Model.ParkCode" asp-route-unit="@Model.Unit">
            <p>Choose One, Then Click Here To Get The Weather</p>
        </a>
</div>



