@model ParkModel
@{
    ViewData["Title"] = "Detail";
}

<div>
    <table>
        <thead>
            <tr>
                <td>
                    <img src="~/images/@(Model.ParkCode).jpg" />
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>@Model.ParkName</p>
                    <p>@Model.InspirationalQuote - @Model.InspirationalQuoteSource</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Year Founded: @Model.YearFounded</p>
                    <p>@Model.ParkDescription</p>
                    <p>@Model.State</p>
                </td>
            </tr>
            <tr>
                <td><p>Acreage: @Model.Acreage</p></td>
            </tr>
            <tr>
                <td><p>Elevation: @Model.ElevationInFeet ft</p></td>
            </tr>
            <tr>
                <td><p>Miles of Trail: @Model.MilesOfTrail miles</p></td>
            </tr>
            <tr>
                <td><p>Number of Campsites: @Model.NumberOfCampsites</p></td>
            </tr>
            <tr>
                <td><p>Annual Visitor Count: @Model.AnnualVisitorCount</p></td>
            </tr>
            <tr>
                <td><p>Entry Fee: $@Model.EntryFee</p></td>
            </tr>
            <tr>
                <td><p>Number of Animal Species: @Model.NumberOfAnimalSpecies</p></td>
            </tr>
            <tr>
                <td><p>Climate: @Model.Climate</p></td>
            </tr>
            <tr>
                <td>Make a selection below to see the weather forecast</td>
            </tr>
        </tbody>
    </table>
    <form asp-controller="Home" asp-action="GetWeather" method="post">
            <button input type="submit" asp-for="Unit" asp-route-parkcode="@Model.ParkCode" asp-route-unit="Unit" value="Fahrenheit">Fahrenheit</button>
            <button input type="submit" asp-for="Unit" asp-route-parkcode="@Model.ParkCode" asp-route-unit="Unit" value="Celsius">Celsius</button>
    </form>
</div>



