@model ParkModel
@{
    ViewData["Title"] = "Detail";
}

<div class="background">
    <table class="detailtable">
        <thead>
            <tr><td><img src="~/images/@(Model.ParkCode).jpg" /></td></tr>
        </thead>
        <tbody>
            <tr><td><p id="parkname">@Model.ParkName</p></td> </tr>
            <tr><td><p>"@Model.InspirationalQuote" - @Model.InspirationalQuoteSource</p></td></tr>
            <tr><td><p>@Model.ParkDescription</p></td></tr>
            <tr><td><p>Located in @Model.State</p></td></tr>
            <tr><td><p>Year Founded: @Model.YearFounded</p></td></tr>
            <tr><td><p>Acreage: @Model.Acreage</p></td></tr>
            <tr><td><p>Elevation: @Model.ElevationInFeet ft</p></td></tr>
            <tr><td><p>Number of Animal Species: @Model.NumberOfAnimalSpecies</p></td></tr>
            <tr><td><p>Miles of Trail: @Model.MilesOfTrail miles</p></td></tr>
            <tr><td><p >Number of Campsites: @Model.NumberOfCampsites</p></td></tr>
            <tr><td><p>Annual Visitor Count: @Model.AnnualVisitorCount</p></td></tr>
            <tr><td><p>Entry Fee: $@Model.EntryFee</p></td></tr>
            <tr><td><p>Climate: @Model.Climate</p></td></tr>
            <tr><td><p>Make a selection below to see the weather forecast!</p></td></tr>
        </tbody>
    </table>
    <form class="detailform" method="post">
        <button asp-controller="Home" asp-action="Detail" input type="submit" asp-route-unit="F" asp-route-parkcode="@Model.ParkCode" value="Fahrenheit">Fahrenheit</button>
        <button asp-controller="Home" asp-action="Detail" input type="submit" asp-route-unit="C" asp-route-parkcode="@Model.ParkCode" value="Celsius">Celsius</button>
    </form>
</div>



