@model IList<ParkModel>
@{
    ViewData["Title"] = "Home Page";
}

<table>
    @foreach (ParkModel park in Model)
    {
        <tr>
            <td style="padding-right:10px; padding-bottom: 40px;">
                <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode">
                    <img src="~/images/@(park.ParkCode.ToLower()).jpg" />
                </a>
            </td>
            <td style="padding-bottom: 40px;">
                <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode">
                    <p>@park.ParkName</p>
                </a>
                <p>Located in @park.State</p>
                <p>
                    @park.ParkDescription
                </p>
            </td>
        </tr>
    }
</table>
