@model IList<ParkModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="background">
    <div class="transbox">
    <table class="indextable">
        @foreach (ParkModel park in Model)
        {
            <tr  class="indextable">
                <td  class="indextable">
                    <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode">
                        <img class="indextable" id="indeximage" src="~/images/@(park.ParkCode.ToLower()).jpg" />
                    </a>
                </td>
                <td  class="indextable">
                    <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode">
                        <p  id="parktitle">@park.ParkName</p>
                    </a>
                    <p  class="indextable">Located in @park.State</p>
                    <p  class="indextable" id="parkdescription"> @park.ParkDescription</p>
                </td>
            </tr>
        }
    </table>
</div>
    </div>
